<body>
    <header>
        <app-student-navbar></app-student-navbar>
    </header>

    <div class="main-div">
        <div class="login-box">
            <h2>Registrar Club</h2>
            <form>
              <div class="user-box">
                <input type="text" name="" required="">
                <label>Nombre del club</label>
              </div>
              
              <div class="group">
                <label class="cat-label">Categoría</label>
                <br>
                <select id="category" name="category">
                    <option value="Artes">Artes</option>
                    <option value="Deportes">Deportes</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Economía">Economía</option>
                    <option value="Salud">Salud</option>
                    <option value="Idiomas">Idiomas</option>
                </select>					
            </div>
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Enviar
              </a>
            </form>
          </div>

    </div>

</body>