<header>
    <app-student-navbar></app-student-navbar>
</header>

<body>
    <div class="main-div">
        <div class="container px-5 py-3">
            <div class="card px-5 py-3">
            <li *ngFor="let course of allCourses">
                <div class="row">
                <div class="col-sm-8 p-3">
                    <div class="row">
                    <div class="col-sm">
                        <span class="col-3"><br>
                                <i class="material-icons">article</i>{{course.name}} <br>
                                <i class="material-icons">emoji_events</i>{{course.category}}<br>
                                <i class="material-icons">account_circle</i>{{course.proposedBy.firstName + " " + course.proposedBy.lastName1}}
                        </span>
                        <span class="right"><button class="btn" (click)="subscribe(course.name, $event)" style="float: right;">Me interesa</button></span>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            </div>
        </div>
    </div>
</body>